.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  text-align: center;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.CreateConversationButton {
  width: 100%;
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 12px 12px 12px 12px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(39,174,96,1);
  color: white;
  border-radius: 2px;
}